.container {
  position: relative;
  app-icon {
    position: absolute;
  }
  .revert {
    right: 60px;
    bottom: 20px;
  }
  .clear {
    right: 20px;
    bottom: 20px;
  }
  .big {
    right: 20px;
    top: 20px;
  }
}

.fullscreen-small {
  position: fixed;
  bottom: 24px;
  right: 24px;
  transform: rotate(90deg);
}

.fullscreen-revert {
  position: fixed;
  bottom: 72px;
  left: 24px;
  transform: rotate(90deg);
}

.fullscreen-clear {
  position: fixed;
  bottom: 24px;
  left: 24px;
  transform: rotate(90deg);
}
