.clear-icon-container {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  left: -33px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 142px;
  height: 44px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  color: #fff;
  transform: rotate(90deg);
  font-size: 34px;
}

.fullscreen-small {
  position: fixed;
  bottom: 72px;
  right: 24px;
  transform: rotate(90deg);
}

.container {
  position: relative;
  app-icon {
    position: absolute;
  }
  .clear {
    right: 20px;
    bottom: 20px;
  }
  .big {
    right: 20px;
    top: 20px;
  }
}
